.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 105;
}

.header .header__warp {
  margin-top: 35px;
  display: flex;
  align-items: center;
}
.logo {
  background: url("../assets/logo.apt2@2x.png") 0 0 no-repeat padding-box;
  background-size: cover;
  height: 55px;
  width: 267px;
}
.header__logo {
  flex: 0 0 267px;
  height: 55px;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu-item {
  font: normal normal normal 16px/19px "Montserrat";
  color: #707070;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.menu-item_active {
  color: #dd2958;
}

.menu-item:hover {
  color: #dd2958;
}

.header_menu-item_active {
  color: #dd2958;
}
.header__mobile_button {
  display: none;
  text-decoration: none;
}

@media (max-width: 1380px) {
  .footer__nav-title {
    font: normal normal bold 12px/20px "Montserrat";
    color: #242424;
  }

  .footer__warp p {
    font: normal normal normal 11px/20px "Montserrat";
    color: #242424;
  }
}

@media (max-width: 1064px) {
  .header__warp {
    margin: 0 16px;
    width: calc(100% - 32px);
  }
}

@media (max-width: 840px) {
  .header .menu {
    display: none;
  }
  .header .header__warp {
    margin: 0 0px;
    width: 100%;
    gap: 16px;
  }
  .header__mobile_button {
    width: 54px;
    height: 54px;
    flex: 0 0 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
  }
  .header__back {
    background: #dd2958;
  }
  .header__call {
    background: #0ad4d0;
  }
  .header .header__logo {
    flex: 0 0 174px;
    height: 36px;
  }
}
