.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table td,
.product-table th {
  padding: 10px 15px;
  font: normal normal normal 14px/21px "Montserrat";
  color: #242424;
}

.product-table th {
  border-bottom: 1px solid #242424;
  border-left: 1px solid #242424;
  font-weight: bold;
  text-align: left;
}

.product-table tr th:first-child {
  border-left: none;
  text-align: center;
}

.product-table tr td:first-child {
  text-align: center;
}

.product-table tr td:last-child {
  text-align: right;
}

.product-table tr {
  border-bottom: 1px solid #2424244d;
  background: #c6c6c60e;
}

.product-table tr:nth-child(2n) {
  background: #0ad4d10a;
}

.product-table tr :nth-child(1) {
  background: rgba(255, 255, 255, 0);
}

 

@media (max-width: 1380px) {
  .product-table td,
  .product-table th {
    padding: 8px 10px; 
  }
}

@media (max-width: 1064px) {
  .product-table td,
  .product-table th { 
    font: normal normal normal 12px/18px "Montserrat";
  }
}

@media (max-width: 840px) {

  .product-table td,
  .product-table th {
    padding: 6px 8px;
    font: normal normal normal 11px/18px "Montserrat";
  }
}