body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.warp {
  width: 1345px;
  margin: 0 auto;
}

.between {
  flex: 1;
}

h1 {
  margin: 0;
  font: normal normal bold 32px/47px "Montserrat";
  color: #dd2958;
}

h2 {
  font: normal normal bold 32px/47px "Montserrat";
  color: #dd2958;
}

h3 {
}

p {
  font-family: "Montserrat";
  color: #121212;
}

.list-button {
  display: flex;
  gap: 30px;
}
.button {
  border-radius: 17px;
  padding: 16px;
  width: 230px;
  font: normal normal bold 16px/30px "Montserrat";
  text-align: center;
  cursor: pointer;
  transition:   0.4s ease-in-out;
  transition-property: color, background-color, box-shadow;
  border: 2px solid #fff;
}
/* Fill button */
.button.button_fill {
  background: transparent linear-gradient(98deg, #00b3d8 0%, #126bee 52%, #1b7bdb 100%) 0% 0% no-repeat padding-box;
 
  box-shadow: 0px 3px 6px #00000029;
  color: #fff;
}
.button.button_fill:focus {
  outline: none;
  border-color: rgb(194, 255, 252);
}
.button.button_fill:hover {
  box-shadow: 0px 4px 5px #00000054;
}
.button.button_fill:active {
  transition: 0.05s;
  box-shadow: 0px 1px 2px #00000054;
}
/* strok button */

.button.button_strok {
  border-color: #004181;
  color: #104a84;
}
.button.button_strok:focus {
  outline: none;
  border-color: #754600;
  color: #754600;
}
.button.button_strok:hover {
  background: #104a8427;
}
.button.button_strok:active {
  transition: 0.05s;
  background: #104a8423;
  border-color: #005dbb;
  color: #005dbb;
}

.back {
  background: #f3f3f3;
}
 

input {
  box-sizing: border-box;
}
input:focus {
  outline: none;
}

.warp {
  width: 1345px;
  margin: 0 auto;
}

@media (max-width: 1380px) {
  .warp {
    width: 1032px;
  }
  .button {
    border-radius: 14px;
    padding: 10px 12px;
    width: 180px;
    font: normal normal bold 15px/30px "Montserrat";
    border: 1px solid #fff;
  }
 
}

@media (max-width: 1064px) {
  .warp {
    width: 100%;
  }
  .button {
    border-radius: 12px;
    padding: 8px 8px;
    width: 120px;
    font: normal normal bold 12px/22px "Montserrat";
    border: 1px solid #fff;
  }
}
